* {
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "anotherdanger";
    src: url(./fuentes/AnotherDanger.otf);
}

@font-face {
    font-family:"iknowaghost" ;
    src: url(./fuentes/iknowaghost.ttf);
}

.fondo {
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: white;
    font-family: "anotherdanger";
    display: flex;
    /* justify-content: center;
    align-items:center; */
    flex-wrap: wrap;
    font-size: 28px;
}

/* Footer en todas las html */

.footer {
    height: 100%;
    width: 100%;
    background-color: violet;
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: white;
    font-family: "anotherdanger";
    font-size: 20px;
    display: grid;
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.fa-brands fa-youtube {
    animation-delay: 1s;
}

.fa-brands fa-instagram {
    animation-delay: 2s;
}

.fa-brands fa-spotify {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.footer :hover {
    color: aliceblue;
}

/* Fin footer */

/* Historia */

.historias {
    color: red;
    font-family: "iknowaghost";
    font-size: 35px;
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
}

.lead{
    font-family: "iknowaghost";
    font-size: 25px;
    color: white;
}

.hCards {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    padding: 50px;
}

/* historia ends */

/* pagination starts */
.pagination {
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
}

.pagination .page-item .page-link {
    background-image: linear-gradient(to left, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: white;
    font-family: "iknowaghost";
}

/* pagination ends */

.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
}

@media all and (min-width: 320px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singles{
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af) ;
    color: red;
    font-family: "iknowaghost";
}

.news{
    background-image: linear-gradient(to left, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: red;
    font-family: "iknowaghost";
}

.fechasYFormularios {
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    height: auto;
    width: 400px;
    margin: 5% auto;
    padding: 30px;
    box-sizing: border-box;
    color: white;
}