*{
    margin: 0%;
    padding:0%;
    border-radius: 0%;
    box-sizing: border-box;
}
@media screen and (min-width:500px){}

@font-face {
    font-family: "anotherdanger";
    src: url(./fuentes/AnotherDanger.otf);
}

.fondo{
    height: 100px;
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: white;
    font-family: "anotherdanger";
    font-size: 50px;
    text-align: center;
}
.contenedor{
    border: 3px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
    grid-template-rows: repeat(2, 1fr);
    font-family: "anotherdanger";
    height:100vh;
    align-items:initial;
    color: red;
}
.contenedor :hover{
    color: aliceblue;
}
.historiaGrid{
    background-image:url(img/image1.jpeg);
    border: 3px solid black;
    padding: 50px;
    font-size: 30px;
    background-color: blue;
    background-size: cover;
}
.discografiaGrid{
    background-image:url(img/tbvescenario1.jpeg) ;
    border: 3px solid black;
    padding: 50px;
    font-size: 30px;
    background-size: cover;
}
.galeriaGrid{
    background-image:url(img/tbvescenario2.jpeg) ;
    border: 3px solid black;
    padding: 50px;
    font-size: 30px;
    background-size: cover;
}
.proximosconciertosGrid{
    background-image:url(img/tbvescenario3.jpeg) ;
    border: 3px solid black;
    padding: 50px;
    font-size: 30px;
    background-size: cover;
}
.footer{
    height: 100%;
    width: 100%;
    background-color: violet;
    background-image: linear-gradient(to right, #070104, #210d17, #381121, #501128, #6a0f2d, #790c34, #88073c, #970044, #9a0058, #960072, #87008f, #6409af);
    color: white;
    font-family: "anotherdanger";
    display: grid;
    text-align: center;   
    list-style: none;
    text-decoration: none;
    display: inline-block; 
}

.footer :hover{
    color: aliceblue;
}

.divGaleria{
    display: grid;
    grid-template-areas: "img1 img2" "video1 video2 video3" ;
    background-size: cover;
}